body {
    background-image: url("public/images/trianglify_white.png");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.page-title {
    font-family: 'Lato', sans-serif;
}

a {
    font-weight: 400; 
}

a.icon {
    color: black;
}

a.icon:hover {
    color: rgb(77, 152, 188);
}

a.icon svg {
    display: block;
    margin: auto;
}

a.icon p {
    margin: auto;
}

hr {
    border-top: 3px double rgba(0, 0, 0, 0.1);
}

@media only screen
and (max-width: 467.98px) {
    .page-title {
        font-size: 4.5rem;
    }
}
